/* ---------- GLOBAL ---------- */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #141414;
    color: #fff;
}

.header {
    background: #111;
    padding: 18px 30px;
    display: flex;
    align-items: center;
    gap: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

.logo {
    font-size: 26px;
    color: #e50914;
    text-decoration: none;
    font-weight: bold;
}

.search-bar input {
    width: 280px;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
}

.content {
    padding: 100px 30px 40px; /* ↓ enough space so hover never overlaps header */
}

.section-block{
    margin-bottom: 40px;
    margin-top: 10px;
}

.section-title {
    font-size: 30px;
    text-transform: capitalize;
    margin: 15px 0px 18px;
    margin-bottom: 25px;
    padding: 18px;
    text-align: start;
}

/* ---------- GRID ---------- */

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 22px;
}

/* ---------- CARD ---------- */

.movie-card {
    position: relative;
    width: 190px;
    height: 280px;
    background: #222;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.25s ease;
}

.movie-card:hover {
    transform: scale(1.22) translateY(-12px);
    z-index: 20;
}

/* ---------- POSTER ---------- */

.poster-wrapper {
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
}

.poster, .placeholder {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-bottom: 0;
}

.no-poster {
    font-size: 14px;
    color: #aaa;
}

/* ---------- HOVER INFO ---------- */

.hover-info {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    background: rgba(0,0,0,0.85);
    padding: 10px;
    padding-top: 6px;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.card-title {
    padding: 8px 6px;
    font-size: 14px;
    text-align: center;
    background: #222;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.movie-card:hover .hover-info {
    display: block;
}

.hover-poster {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 8px;
}

.hover-info h3 {
    margin: 4px 0;
    font-size: 15px;
}

.overview {
    font-size: 12px;
    opacity: 0.8;
    margin: 4px 0;
}

.meta {
    font-size: 11px;
    opacity: 0.85;
}

.skeleton-card {
    width: 160px;
    height: 240px;
    background: linear-gradient(90deg, #1a1a1a 25%, #2a2a2a 37%, #1a1a1a 63%);
    border-radius: 8px;
    background-size: 400% 100%;
    animation: skeleton-loading 1.4s ease-in-out infinite;
}

@keyframes skeleton-loading {
    0% { background-position: 100% 0; }
    100% { background-position: -100% 0; }
}